.root {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 10px 10px;
  border: none;
  border-radius: 8px;

  transition: opacity .2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.text {
  padding: 0px 3px;
  display: inline-block;
}

.iconLeft,
.iconRight {
  display: flex;
  align-items: center;
  width: 1.2em;
  height: 1.2em;
}

.primary {
  background: var(--color-black);
  color: var(--color-white);
}

.secondary {
  background: var(--color-control-muted);
  color: var(--color-black);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}